
.second-photo {
    height: 1000px;
    background: linear-gradient(
          rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1)),  url("MTNCover2.jpg") center center no-repeat;
    background-size: cover;
    background-attachment: fixed;
    justify-content: center;
    align-items: center;
    color: black;
}

.firstname{
  font-family: fantasy;
  font-size: 50px !important;
  color: white;
  text-shadow: 4px 4px #000000;

}


.sign {
  font-size: 30px;
  border: none !important;
  background-color: none !important;
}

.text {
  font-size: 30px;
}
